@import './keyframes.css';

:root {
  --curve: 0.25vw;
  --color1: #f53844;
  --color2: #42378f;
  --grade: rgb(0, 225, 255);
  --progress: rgb(80, 0, 111);
  --max-grade: rgba(255, 56, 56, 0.51);
  --single-grade: rgba(60, 0, 255, 0.5);
  --completed: rgba(0, 255, 38, 0.461);
  --locked: rgba(0, 0, 0, 0.661);
}

/* General Shit */

html {
  font-family: 'Manuskript', 'Georgia', 'serif';
  background-color: lightblue;
  box-sizing: border-box;

  background: #0b1e24
    linear-gradient(
      to right,
      rgb(1, 13, 11) 0%,
      rgb(11, 30, 36) 25%,
      rgb(11, 30, 36) 75%,
      rgb(1, 13, 11) 100%
    )
    repeat-y;
}

/* Title */

#title {
  margin-top: 2rem;
  text-align: center;
  color: #f1eee5;
}

/* Settings Box */

.textBox {
  display: block;
  margin: 1em;
}

.settings {
  background-color: red;
  margin: auto;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.keys {
  display: block;
  margin: auto;
}

.button {
  display: block;
  margin: auto;
}

/* Results Box */

.results {
  margin: 1em auto;
  text-align: center;
  width: 80vw;
  /* background-color: orange; */
}

#comms {
  /* background-color: rgb(0, 242, 141); */
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;
}

.card {
  display: flex;
  margin: 1vw;
  width: 5vw;
  padding: 1vw;
  height: auto;
  border-radius: var(--curve);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0px) saturate(180%);
  box-shadow: 0.5em 0.5em 1em;
  align-items: center;
  transition: filter 200ms ease, transform 200ms ease;
  flex-direction: column;
}

.grade {
  color: var(--grade);
}

.progress {
  color: var(--progress);
  font-size: 2em;
}

.max-grade {
  background-color: var(--max-grade);
}

.single-grade {
  background-color: var(--single-grade);
}

.completed {
  background-color: var(--completed);
}

.locked {
  background-color: var(--locked);
}

.bg {
  z-index: -1;
  width: 100%;
  overflow: hidden;
  position: fixed;
  inset: 0;
}

.item {
  width: 45%;
  padding-right: 30px;
  align-items: flex-start;
  display: flex;
}
.img-container {
  width: 30%;
  display: flex;
}
.info-container {
  padding-left: 25px;
  width: 70%;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.title {
  color: #f1eee5;
  font-size: 14px;
  line-height: 25px;
}
.progress {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
}
.progress-bar {
  max-width: 70%;
}
.progress-text {
  position: relative;
  color: #d3c8ac;
  font-size: 12px;
  line-height: 20px;
}
.description {
  display: block;
}
.desc-text {
  color: #f1eee5;
  font-size: 12px;
  line-height: 20px;
}

#surround {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.surround {
  fill: #262724;
}

.button {
  background: rgba(0, 0, 0, 0);
  border: 0;
  position: relative;
  padding-top: 100%;
  width: 100%;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

.border {
  overflow: hidden;
}

defs {
  overflow: hidden;
  opacity: 0;
}

.progress-bar {
  width: 200px;
  height: 20px;
  border: 1px solid #ccc;
  position: relative;
  margin: 20px;
}

.progressb {
  height: 100%;
  background-color: #4caf50;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #333;
}
